<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery-3.0.0.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.min.js') }}"></script>
<!-- bootstrap -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- scrollIt -->
<script src="{{ url_for('static', filename='js/scrollIt.min.js') }}"></script>
<!-- magnific-popup -->
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<!-- owl carousel -->
<script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
<!-- stellar js -->
<script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
<!-- typed js -->
<script src="{{ url_for('static', filename='js/typed.min.js') }}"></script>
<!-- jquery.waypoints.min js -->
<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
<!-- jquery.counterup.min js -->
<script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
<!-- isotope.pkgd.min js -->
<script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
<!-- validator js -->
<script src="{{ url_for('static', filename='js/validator.js') }}"></script>
<!-- custom script -->
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script>
(function(d, s, id){
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/es_LA/sdk.js";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script> 