<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{title}}</title>
        <meta name="description" content="Martin is a responsive creative template">
    <meta name="keywords" content="portfolio, personal, corporate, business, parallax, creative, agency">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="img/favicon.ico" rel="icon" type="image/png">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     {% include  "style-header.html" %}
     <style type="text/css">
      .san {
    margin: 50px;
    padding:50px;
}

 .design{
		border:1px solid black;
		width:400px;
    background-color:#96ceb4;
		height:300px;
	    margin:120px;
	}
     </style>
     <meta property="og:url"           content="http://localhost:5000/relationR/relationR.html" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="localhost:5000/relationR" />
  <meta property="og:description"   content="Your description" />
  <meta property="og:image"         content="http://localhost:5000/static/img/night-star.png" />
    </head>
    <body style="background-color: #7e7e7e">

      <div id="fb-root"></div>

     <script>

  window.fbAsyncInit = function() {
    FB.init({
      appId            : '437486770003606',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.12'
    });
     FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });

  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12&appId=437486770003606&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your share button code -->
      <!-- ====== Preloader ======  -->
      
    <!-- ======End Preloader ======  -->

    <!-- ====== button-top ======  -->
    <div class="button-top" data-scroll-nav="0">
      <span>
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </span>
    </div>

    <!-- ====== Navgition ======  -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-icon-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- logo -->
          <a href="/">
            <div class="logo">
              <img src="{{url_for('static', filename='img/logo.png')}}" alt="logo">
            </div>
          </a>
        </div>
        <!-- Collect the nav links, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav-icon-collapse">
        <!-- links -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" >Home</a></li>
            <li><a href="about.html" >About</a></li>
            <li><a href="create-test.html">Create Test</a></li>
            <!--<li><a href="#" data-scroll-nav="4">Trending </a></li>
            <li><a href="#" data-scroll-nav="5">MyTest</a></li>-->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    <section id="works" class="portfolio section-padding" data-scroll-index="5">
      <div class="container">
       <div class="row">
       <div class="gallery text-center"> 

	<p>
   {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
        <li style="text-align:center; padding: 30px; font-size: 30px; color:  #FF305B; ">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}



  </p>
	<img src="{{ user_image }}" alt="image" style="width:400px;height:300px; "/>
</div>
    <div class="fb-like" data-href="http://localhost:5000/relationR" data-width="200" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></divhat>
</div>
</div>
</section>
</body>
</html>