		<!-- ====== Resume ======  -->
		<section id="resume" class="resume section-padding" data-scroll-index="2">
			<div class="container">
				<div class="section-head">
					<h3>My Resume</h3>
				</div>
				<div class="row">
					<div class="col-md-offset-1 col-md-10">
						<div class="tabs">
								<!-- tabs-icon -->
							<div class="tabs-icon">
								<ul>
									<li id="tab-1" class="active">
										<span class="ion-briefcase"></span>
										<h6 class="sm-title">EXPERIENCE</h6>
									</li>
									<li id="tab-2">
										<span class="ion-university"></span>
										<h6 class="sm-title">EDUCATION</h6>
									</li>
								</ul>
							</div>
							<div class="resume-content">
								<!-- tabs-content -->
								<div id="tab-1-content" class="item active">
									<div class="content">
										<div class="main-icon">
											<span>
												<i class="fa fa-briefcase" aria-hidden="true"></i>
											</span>
										</div>

										<div class="row">
											<div class="col-md-6">
												<div class="inf text-right">
													<span class="date">2016 - Present</span>
												</div>
											</div>
											<div class="col-md-6">
												<div class="cont pb-50">
													<h6 class="sm-title">Art Director - Facebook Inc.</h6>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna cillum dolore eu fugiat aliqua.</p>
												</div>
											</div>

											<div class="col-md-6 col-md-push-6">
												<div class="inf">
													<span class="date">2013 - 2016</span>
												</div>
											</div>
											<div class="col-md-6 col-md-pull-6">
												<div class="cont text-right pb-50">
													<h6 class="sm-title">Web Designer - Google Inc.</h6>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna cillum dolore eu fugiat aliqua.</p>
												</div>
											</div>

											<div class="col-md-6">
												<div class="inf text-right">
													<span class="date">2010 - 2013</span>
												</div>
											</div>
											<div class="col-md-6">
												<div class="cont last">
													<h6 class="sm-title">Senior Developer - Abc Inc.</h6>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna cillum dolore eu fugiat aliqua.</p>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!-- tabs-content -->
								<div id="tab-2-content" class="item">
									<div class="content">
										<div class="main-icon">
											<span>
												<i class="fa fa-graduation-cap" aria-hidden="true"></i>
											</span>
										</div>

										<div class="row">
											<div class="col-md-6">
												<div class="inf text-right">
													<span class="date">2006 - 2009</span>
												</div>
											</div>
											<div class="col-md-6">
												<div class="cont pb-50">
													<h6 class="sm-title">Abc University of Los Angeles.</h6>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
												</div>
											</div>

											<div class="col-md-6 col-md-push-6">
												<div class="inf">
													<span class="date">2004 - 2006</span>
												</div>
											</div>
											<div class="col-md-6 col-md-pull-6">
												<div class="cont text-right pb-50">
													<h6 class="sm-title">Specialization Course.</h6>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
												</div>
											</div>

											<div class="col-md-6">
												<div class="inf text-right">
													<span class="date">2000 - 2004</span>
												</div>
											</div>
											<div class="col-md-6">
												<div class="cont last">
													<h6 class="sm-title">Abc High School.</h6>
													<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ====== End Resume ======  -->