<!-- bootstrap css -->
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,,800,900|Josefin+Sans:300,400,600,700" rel="stylesheet">
<!-- owl carousel CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='css/jquery-ui.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/owl.theme.default.min.css')}}">
<!-- magnific-popup CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='css/magnific-popup.css') }} ">
<!-- Font Icon Core CSS -->
<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css') }}">
<link rel="stylesheet') }} " href="{{url_for('static', filename='css/et-line.css') }} ">
<link rel="stylesheet" href="{{url_for('static', filename='css/ionicons.min.css') }} ">
<!-- Core Style Css -->
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
<!--[if lt IE 9]-->
<script src="{{url_for('static', filename='js/html5shiv.min.js') }} "></script>
<!--[endif]-->
<script src="{{url_for('static', filename='js/jquery-3.3.1.min.js') }} "></script>

