<h3 class="title">User Form</h3>
<div class="form_container">

  <form id="createForm">
    <label for="email">Email Address</label>
    <input type="text"  name="user" placeholder="Your email addr..">
    <label for="Address">Address</label>
    <textarea  name="address" placeholder="Write something.." style="height:200px">
    </textarea>
    <label for="Contact">Contact Number</label>
    <input type="text" name="phone" placeholder="phone number"/>
    <br/>
    <input type="button" class="btn btn-primary" value="Submit" data-urlaction="/admin/user_submit" onclick="click_userfrom_submit(this)"/>

  </form>

</div>